# Update repository settings to match the definitions in .github/settings.yml.
---
name: Update Repo Settings

'on':
  push:
    branches: [main]
  schedule:
    - cron: '15 14 * * *' # 14:15 UTC every day
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update-repo-settings:
    name: Update Repo Settings
    secrets: inherit
    uses: bfra-me/.github/.github/workflows/update-repo-settings.yaml@06e204d344626cd25ff2fe306d8cc3f7b7c78eb8 # v4.3.23
